/**
 * Code formatting
 */

%vertical-rhythm {
   margin-bottom: 30px / 2;
}

pre,
code {
    font-size: 15px;
    border: 1px solid color("brown", "lighten-3");
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Icons
 */
.orig_icon {

    > svg {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;

        path {
            fill: color("grey", "lighten-1");
        }
    }
}
